<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          {% comment %} <i class="fas fa-phone"></i> (647)-909-2460 {% endcomment %}
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> hello@propertyviz.com
        </div>
        {% comment %} <div class="col-md-4 hidden">
          <div class="social text-right">
            <a href="http://mapilitmedia.com/">Need a Website?</a>
            <a href="https://facebook.com/PropertyViz-389986441844725/">
              <i class="fab fa-facebook"></i>
            </a>
          </div> {% endcomment %}
          <div style="display:none"class="social text-right ">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>