{% extends 'base.html' %}

{% block title %} | User Dashboard {% endblock %}

{%  block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">User Dashboard</h1>
          <p class="lead">Manage your PropertyViz account</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
      </nav>
    </div>
  </section>

  {% comment %} Alerts {% endcomment %}
    {% include 'partials/_alerts.html' %}


<section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        {% if user.is_authenticated%}
          <h3>Welcome {{ user.first_name }}</h3>
          <a class="btn btn-primary" href="{% url 'listing-create' %}">Create Listing</a>
          <a class="btn btn-success" href="{% url 'listing-create-featured' %}">Post Featured Listing($49)</a>
          {% comment %} User Listings  {% endcomment %}
          {% if listings  %}
            <p>Here are your active listings:</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Property</th>
                  <th scope="col">Views</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for listing in listings %}
                  <tr>
                    <td>{{ listing.title }}</td>
                    <td>{{ listing.view_count }}</td>
                    <td>
                      <a class="btn btn-light" href="{% url 'listing' listing.pk %}">View Listing</a>
                      <a class="btn btn-info" href="{% url 'listing-update' listing.pk %}">Update Listing</a>
                    </td>
                    <td>
                      <form action="{% url 'listing-delete' listing.id %}" method="POST">
                      {% csrf_token %}
                      <input type="submit" value="Delete" class="btn btn-danger">
                      </form>
                    </td> 
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
          <p>You have no listings</p> 
          {% endif %}
          <hr>
          {% comment %} {% if contacts  %}
            <p>Here are the property listings that you have inquired about:</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Property</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts %}
                  <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.listing }}</td>
                    <td>
                      <a class="btn btn-light" href="{% url 'listing' contact.listing_id %}">View Listing</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
          <p>You have not made any inquiries</p> 
          {% endif %} {% endcomment %}
          <h3>Listing Inquiries:</h3>
          {% if filtered_leads  %}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Listing</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Message</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for lead in filtered_leads %}
                  <tr>
                    <td>{{ lead.listing }}</td>
                    <td>{{ lead.name }}</td>
                    <td>{{ lead.email }}</td>
                    <td>{{ lead.phone }}</td>
                    <td>{{ lead.message }}</td>
                    <td>
                      <a class="btn btn-light" href="{% url 'listing' lead.listing_id %}">View Listing</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
          <p>You have no new leads</p> 
          {% endif %}
        {%else %}
        <p>Please login to view dashboard</p>
        {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}