{% extends 'base.html' %}

{% block title %} | Password Reset {% endblock %}

{% block content %}
<section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Password Reset</h4>
            </div>
            <div class="card-body">
                <!-- Alerts-->
                {% include 'partials/_alerts.html' %}
                <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>

              </br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}