{% extends 'base.html' %}

{% load static %}

{% block title %} | Contact{% endblock %}

{% block content %}
  <div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3 mb-2 mt-2">
      <!-- Alerts -->
  {% include 'partials/_alerts.html' %} 
            <legend class="text-center">Contact us</legend>
  <form action="{% url 'contact-us'  %}" method="POST">
        
            {% csrf_token %}
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control"  {% if user.is_authenicated %} value="{{ user.first_name }} {{user.last_name}}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" {% if user.is_authenicated %} value="{{ user.email }}" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
    </div>
    </div>
    </div>
{% endblock %}