{% extends  'base.html' %}

{%  load humanize %}
{% block title %} | Real Estate Listings{% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Find Your New Home on PropertyViz
          </h1>
          
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Search">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input type="text" name="city" class="form-control" placeholder="City">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Province</label>
                  <select name="province" class="form-control">
                    <option selected="true" disabled="disabled">Province (All)</option>
                    {% for key,value in state_choices.items %}
                      <option value="{{key}}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Category</label>
                  <select name="category" class="form-control">
                    <option selected="true" disabled="disabled">Category</option>
                    {% for key,value in category_choices.items %}
                      <option value="{{key}}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Bedrooms</label>
                  <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Bedrooms (All)</option>
                    {% for key,value in bedroom_choices.items %}
                      <option value="{{key}}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-4 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{key}}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Featured Listings</h3>
      <div class="row">
        {% if listings %}
          <div class="row">
          {% for listing in listings %}
            <!-- Listing 1 -->
            
        <div class="col-md-6 col-lg-4 mb-4">
           
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ listing.photo_main.url }}" width="600" height="350" alt="">
              <div class="card-img-overlay">
                <h2>
                   <span class="badge badge-danger text-black">Featured</span>
                  <span class="badge badge-secondary text-white">${{ listing.price | intcomma }}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ listing.title }}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.province }}, {{ listing.postal_code }}</p>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Sqft: {{   listing.sqft }}</div>
                  <div class="col-6">
                    <i class="fas fa-car"></i> Garage: 2</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>
                  <div class="col-6">
                    <i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>
                </div>
                
                {% comment %} <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-user"></i> {{ listing.realtor }}</div>
                </div>
                {% endcomment %}
                <div class="row text-secondary pb-2">
                  <div class="col-12 text-center">
                    <i class="fas fa-clock"></i> Listed: {{ listing.list_date | timesince }} ago</div>
                </div> 
                <hr>
                <a href="{% url  'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>

          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% comment %} Featured Agents {% endcomment %}
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Featured Agents</h3>
      <br>
      <div class="row">
       {% if realtors %}
          {% for realtor in realtors %}
          <div class="col-md-4">
              <img src="{{ realtor.photo.url }}" alt="" class="rounded-circle mb-3">
              <h2>
                   <span class="badge badge-danger text-black">Featured</span>
                </h2>
              <h4>{{ realtor.name }}</h4>
              <p class="text-success">
                <i class="fas fa-award text-success mb-3"></i> Realtor</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> {{ realtor.phone }}</p>
              <p>
                <i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
                <hr>
              <a href="{% url 'realtor' realtor.id %}" class="btn btn-primary btn-block mb-2">View Profile</a>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Realtors Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% comment %} Latest Public Listing {% endcomment %}
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
      <div class="row">
        {% if public_listings %}
          <div class="row">
          {% for public_listing in public_listings %}
            <!-- Listing 1 -->
            
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ public_listing.photo_main.url }}" width="600" height="350" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">${{ public_listing.price | intcomma }}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ public_listing.title }}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{ public_listing.city }} {{ public_listing.province }}, {{ public_listing.postal_code }}</p>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Sqft: {{   public_listing.sqft }}</div>
                  <div class="col-6">
                    <i class="fas fa-car"></i> Garage: 2</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-bed"></i> Bedrooms: {{ public_listing.bedrooms }}</div>
                  <div class="col-6">
                    <i class="fas fa-bath"></i> Bathrooms: {{ public_listing.bathrooms }}</div>
                </div>
                
                {% comment %} <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-user"></i> {{ listing.realtor }}</div>
                </div>
                {% endcomment %}
                <div class="row text-secondary pb-2">
                  <div class="col-12 text-center">
                    <i class="fas fa-clock"></i> Listed: {{ public_listing.list_date | timesince }} ago</div>
                </div> 
                <hr>
                <a href="{% url  'listing' public_listing.id %}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>

          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Latest Listings Available</p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Propery Management</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
  </section> -->
{% endblock %}