{% extends 'base.html' %}

{% block title %} | Services - Web Development{% endblock %}

{% block content %}
  <section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Basic</h5>
            <h6 class="card-price text-center">$1500<span class="period">(one-time fee)</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Basic Theme(3 pages)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Wordpress Installation & Configuration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Domain & Hosting Setup</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>SSL Certificate Setup</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Google Analytics Integration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Social Media Integration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Blog Integration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Contact Form</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Mobile Responsive</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Chatbox Feature</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>On Page Search Engine Optimization</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Site Speed Optimization</li>
            </ul>
            <a href="{% url 'contact-us' %}" class="btn btn-block btn-primary text-uppercase">Contact</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Standard</h5>
            <h6 class="card-price text-center">$2500<span class="period">(one-time fee)</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Customized Template(5 pages)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Wordpress Installation & Configuration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Domain & Hosting Setup</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>SSL Certificate Setup</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Google Analytics Integration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Social Media Integration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Blog Integration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Contact Form</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Mobile Responsive</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Chatbox Feature</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>On Page Search Engine Optimization</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Site Speed Optimization</li>
            </ul>
            <a href="{% url 'contact-us' %}" class="btn btn-block btn-primary text-uppercase">Contact</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Premium</h5>
            <h6 class="card-price text-center">$5000<span class="period">(one-time fee)</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Custom Design(10 pages)</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Wordpress Installation & Configuration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Domain & Hosting Setup</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>SSL Certificate Setup</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Google Analytics Integration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Social Media Integration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Blog Integration</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Contact Form</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Mobile Responsive</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Chatbox Feature</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>On Page Search Engine Optimization</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Site Speed Optimization</li>
            </ul>
            <a href="{% url 'contact-us' %}" class="btn btn-block btn-primary text-uppercase">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}