{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} | Update {{Listing.title}}{% endblock %}

{% block content %}
  <div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3 mb-2 mt-2">
      <!-- Alerts -->
  {% include 'partials/_alerts.html' %} 
            <legend class="text-center">Update Listing</legend>
  <form action="{% url 'listing-update' listing.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            {% comment %} <div class="form-group">
              <label for="category" class="col-form-label">Category:</label>
              <select class="form-control" name="category" value={{listing.category}}>
                <option value="Buy">Buy</option>
                <option value="Rent">Rent</option>
              </select>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">Title:</label>
              <input type="text" class="form-control" name="title" value={{listing.title}} required>
            </div>
            <div class="form-group">
              <label for="address" class="col-form-label">Address:</label>
              <input type="text" class="form-control" name="address" value={{listing.address}} required>
            </div>
            <div class="form-group">
              <label for="city" class="col-form-label">City:</label>
              <input type="text" class="form-control" name="city" value={{listing.city}} required>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">Province:</label>
              <select class="form-control" name="province" value={{listing.state}}>
                <option value="Ontario">Ontario</option>
                <option value="British Columbia">British Columbia</option>
              </select>
            </div>
            <div class="form-group">
              <label for="postal_code" class="col-form-label">Postal Code:</label>
              <input type="text" class="form-control" name="postal_code" value={{listing.zipcode}}  required>
            </div>
            <div class="form-group">
              <label for="description" class="col-form-label">Description:</label>
              <textarea name="description" class="form-control"  required>{{listing.description}}</textarea>
            </div>
            <div class="form-group">
              <label for="price" class="col-form-label">Price:</label>
              <input type="number" class="form-control" name="price" value={{listing.price}} required>
            </div>
            <div class="form-group">
              <label for="bedrooms" class="col-form-label"># of Bedrooms:</label>
              <input type="number" class="form-control" name="bedrooms" value={{listing.bedrooms}} required>
            </div>
            <div class="form-group">
              <label for="bathrooms" class="col-form-label"># of Bathrooms:</label>
              <input type="number" class="form-control" name="bathrooms" min="1" max="99" value={{listing.bathrooms}} required>
              </div>
              <div class="form-group">
              <label for="garage" class="col-form-label"># of Garages:</label>
              <input type="number" class="form-control" name="garage" value={{listing.garage}} required>
              </div>
              <div class="form-group">
              <label for="sqft" class="col-form-label">Sqft:</label>
              <input type="number" class="form-control" name="sqft" value={{listing.sqft}} required>
              </div>
              <div class="form-group">
              <label for="lot_size" class="col-form-label">Lot Size:</label>
              <input type="number" class="form-control" name="lot_size" min="1" max="99999" value={{listing.lot_size}} required>
              </div> {% endcomment %}
              {% comment %} <div class="form-group">
                <label for="photo_main">Main Photo:{{listing.photo_main.url}} </label>
                <input type="file" name="photo_main" required >
              </div>
              <div class="form-group">
                <label for="photo_one">Photo One:{{listing.photo_1.url}}</label>
                <input type="file" value={{listing.photo_1}} name="photo_one" >
              </div>
              <div class="form-group">
                <label for="photo_two">Photo Two:</label>
                <input type="file" value={{listing.photo_2}} name="photo_two">
              </div>
              <div class="form-group">
                <label for="photo_three">Photo Three:</label>
                <input type="file" value={{listing.photo_3}} name="photo_three" >
              </div>
              <div class="form-group">
                <label for="photo_four">Photo Four:</label>
                <input type="file" value={{listing.photo_4}} name="photo_four" >
              </div>
              <div class="form-group">
                <label for="photo_five">Photo Five:</label>
                <input type="file" value={{listing.photo_5}} name="photo_five" >
              </div>
              <div class="form-group">
                <label for="photo_six">Photo Six:</label>
                <input type="file" value={{listing.photo_6}} name="photo_six" >
              </div> {% endcomment %}
            

  
            
            <input type="submit" value="Update" class="btn btn-block btn-secondary">
          </form>
    </div>
    </div>
    </div>
{% endblock %}