{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %} | Listing Create Featured Ad{% endblock %}

{% block content %}
  <div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3 mb-2 mt-2">
      <!-- Alerts -->
  {% include 'partials/_alerts.html' %} 
            <legend class="text-center">Post Featured Listing-$49</legend>
            <p>Perks of Featured Listings: <br>
Featured Ad Badge<br>
More Ad Views <br>
Home page display(Carousel) <br> 
Featured ad page <br>
Featured on top of all public listings <br>
</p>
  <form action="{% url 'listing-create-featured'  %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            {% comment %} <div class="form-group">
              <label for="category" class="col-form-label">Category:</label>
              <select class="form-control" name="category" >
                <option value="Buy">Buy</option>
                <option value="Rent">Rent</option>
              </select>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">Title:</label>
              <input type="text" class="form-control" name="title" required>
            </div>
            <div class="form-group">
              <label for="address" class="col-form-label">Address:</label>
              <input type="text" class="form-control" name="address" required>
            </div>
            <div class="form-group">
              <label for="city" class="col-form-label">City:</label>
              <input type="text" class="form-control" name="city" required>
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">Province:</label>
              <select class="form-control" name="province">
                <option value="Ontario">Ontario</option>
                <option value="British Columbia">British Columbia</option>
              </select>
            </div>
            <div class="form-group">
              <label for="postal_code" class="col-form-label">Postal Code:</label>
              <input type="text" class="form-control" name="postal_code" required>
            </div>
            <div class="form-group">
              <label for="description" class="col-form-label">Description:</label>
              <textarea name="description" class="form-control"></textarea required>
            </div>
            <div class="form-group">
              <label for="price" class="col-form-label">Price:</label>
              <input type="number" class="form-control" name="price" required>
            </div>
            <div class="form-group">
              <label for="bedrooms" class="col-form-label"># of Bedrooms:</label>
              <input type="number" class="form-control" name="bedrooms" required>
            </div>
            <div class="form-group">
              <label for="bathrooms" class="col-form-label"># of Bathrooms:</label>
              <input type="number" class="form-control" name="bathrooms" min="1" max="99" required>
              </div>
              <div class="form-group">
              <label for="garage" class="col-form-label"># of Garages:</label>
              <input type="number" class="form-control" name="garage" required>
              </div>
              <div class="form-group">
              <label for="sqft" class="col-form-label">Sqft:</label>
              <input type="number" class="form-control" name="sqft" required>
              </div>
              <div class="form-group">
              <label for="lot_size" class="col-form-label">Lot Size:</label>
              <input type="number" class="form-control" name="lot_size" min="1" max="99999" required>
              </div>
              <div class="form-group">
                <label for="photo_main">Main Photo:</label>
                <input type="file" name="photo_main" required >
              </div>
              <div class="form-group">
                <label for="photo_one">Photo One:</label>
                <input type="file" name="photo_one" >
              </div>
              <div class="form-group">
                <label for="photo_two">Photo Two:</label>
                <input type="file" name="photo_two" >
              </div>
              <div class="form-group">
                <label for="photo_three">Photo Three:</label>
                <input type="file" name="photo_three" >
              </div>
              <div class="form-group">
                <label for="photo_four">Photo Four:</label>
                <input type="file" name="photo_four" >
              </div>
              <div class="form-group">
                <label for="photo_five">Photo Five:</label>
                <input type="file" name="photo_five" >
              </div>
              <div class="form-group">
                <label for="photo_six">Photo Six:</label>
                <input type="file" name="photo_six" >
              </div> {% endcomment %}
            

            
            
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-description="PropertyViz - Featured Listing(30 days)"
    data-amount="4900"
    data-locale="auto">
</script>
          </form>
    </div>
    </div>
    </div>
{% endblock %}